body {
  background-color: #005f3f;
  color: #f7faf9;
}

small {
  color: black;
}

.navbar {
  background-color: #1fad39;
}

h3 {
  margin: 0;
  display: inline-block;
}

.progress {
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #4397c4;
}

.main-date {
  margin-top: 1rem;
}

.winner-display {
  margin-top: 1rem;
}

.form-display {
  margin-top: 1rem;
}