body {
  background-color: #005f3f;
  color: #f7faf9;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

small {
  color: black;
}

.navbar {
  background-color: #1fad39;
}

h3 {
  margin: 0;
  display: inline-block;
}

.progress {
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #4397c4;
}

.main-date {
  margin-top: 1rem;
}

.winner-display {
  margin-top: 1rem;
}

.form-display {
  margin-top: 1rem;
}

.main-display {
  background-color: #147d4a;
}

.footer {
  background: inherit;
  border-top: 2px solid white;   
}

.footer__item {
  text-decoration: none;
  color: white;
}

.card-body {
  background-color: #009261;
  margin-bottom: 1rem;
}

.dish-item {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.dish-item:hover {
  color: black;
  
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.item-button {
  color: white;
  background-color: #007A92 !important;
}

.grocery_item {
  list-style-type: none;
}