{% from "macros/fields.html" import add_item %}
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}


{% block body_block %}

<div class="container justify-content-center align-items-center mt-2">
    <form name="add_list" method="post" id="add_form">
      <div class="row align-items-center justify-content-center">
        {{ form.hidden_tag() }}
        {{ add_item(form.item) }}
      <div class="col-sm-2 mx-2">
        {{ form.submit(class_="btn btn-secondary") }}
      </div>
    </form>
  </div>
</div>   
    <div>
      <form id="grocery_list_form">
        <ul id="myList">
            {% if grocery_list %}
            {% for item in grocery_list %}
            <li class="grocery_item">
              <input type="checkbox" name="checkbox" id="{{item}}" onchange="toggleStrikeThrough('{{item}}')" value="{{item}}">
              <label for="{{item}}">{{item}}</label>
            </li>
            {% endfor %}
            {% else %}
            <li>No items in list</li>
            {% endif %}
        </ul>
        <div class="col-sm-2 mx-2">
          <button class="btn btn-primary" id="updateButton" hx-trigger="click" hx-post="{{url_for('update_list')}}" hx-form="grocery_list_form">Complete</button>
        </div>
        </form>
    </div>

    

</div>
{% endblock %}