{% extends 'layout.html' %}


{% block body_block %}
    <time class="date" datetime="{{date}}">
        <h1>{{ date.strftime("%m-%d") }}</h1>
    </time>
    <h1>This is the dinner tracker app</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    {% if not poll %}
      <h1>No Poll for Today</h1>
    {% else %}
        {% for item, votes in poll.items() %}
        <form class="poll__form" method="POST" action="{{ url_for('vote') }}">
          <div class="d-flex">
          <div class="">
              <h3>{{ item }}</h3>
            </div>
            <div class="ms-auto">
              <button type="submit" class="btn btn-secondary me-1" name="dish" value="{{ item }}">Vote</button>
              <p class="p-2 float-end">Votes: {{ votes["Votes"] }} (%)</p>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </form>
        {% endfor %}
    {% endif %}
    <h3>Current Winner:</h3>
{% endblock %}