{% extends 'layout.html' %}

{% block body_block %}
    <time class="date" datetime="{{date}}">
        <h1>{{ date.strftime("%m-%d") }}</h1>
    </time>
    <h1>This is the dinner tracker app</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
        {% for item, votes in poll.items() %}
        <h3> Dish: {{ item }}</h3>
        <p> Votes: {{ votes["Votes"] }}</p>
        <form class="poll__form" method="POST" action="{{ url_for('vote') }}">
            <button type="submit" name="dish" value="{{ item }}">Vote</button>
        </form>
        {% endfor %}        
{% endblock %}