{% from 'macros/fields.html' import winning_percent %}
{% extends 'layout.html' %}

{% block title %}Dinner Dilemma{% endblock %}
{% block body_block %}
  <div class="d-flex justify-content-center main-date">
    <h1>Dinner for<time class="date" datetime="{{date}}"> </time> {{ date.strftime("%m-%d-%Y") }}</time></h1>
  </div>
    {% if not poll %}
    <div class="d-flex justify-content-center">
      <h1>No Poll for Today</h1>
    </div>
    {% else %}
        {% for item, votes in poll.items() %}
        {% if item != 'total_votes' %}
        <form class="poll__form" method="POST" action="{{ url_for('vote') }}">
          <div class="container">
            <div class="row mb-2">
              <div class="col-lg-11">
                <a class="dish-item" data-bs-toggle="collapse" href="#collapseExample{{loop.index}}" role="button" aria-expanded="false" aria-controls="collapseExample{{loop.index}}">
                    {{ item }}
                </a>
                <div class="collapse" id="collapseExample{{loop.index}}">
                    <div class="card card-body">
                      <div class="list-group list-group-horizontal-lg">
                        <div class="btn-toolbar" role="toolbar" aria-label="Basic checkbox toggle button group">
                      {% for item in dish_func(item) %}
                      
                      
                      <form>
                        <div class="btn-group btn-group-sm me-2 mt-2" role="group" aria-label="First group">
                            <input type="checkbox" class="btn-check" id="btncheck{{item}}" autocomplete="off" value="{{item}}">
                            <label class="btn button-outline-primary item-button" for="btncheck{{item}}">{{ item | capitalize}}</label>
                        </div>
                      </form>
                          
                      {% endfor %}
                    </div> 
                    </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-1 mb-1">
                <div class="d-grid gap-2 d-md-block">
                  <button type="submit" class="btn btn-secondary" name="dish" value="{{ item }}">Vote</button>
                  <button type="submit" class="btn btn-primary mt-2">Add</button>
                </div>
            </div>
            </div>
            </div>
            <div class="progress position-relative">
              <div class="progress-bar" role="progressbar" style="width:{{winning_percent(votes['Votes'], poll['total_votes'])}}%" aria-valuenow="{{winning_percent(votes['Votes'], poll['total_votes'])}}" aria-valuemin="0" aria-valuemax="100">
                
              </div>
                <small class="justify-content-center d-flex position-absolute w-100">Votes: {{ votes["Votes"] }} ({{ winning_percent(votes['Votes'], poll['total_votes']) }}%)</small>
              </div>
        </form>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <div class="d-flex justify-content-center winner-display mb-4">
      <h3>Current Winner: {{ current_winner }}</h3>
    </div>
{% endblock %}