{% extends 'layout.html' %}

{% block title %}Home{% endblock %}


{% block body_block %}

<div class="mt-4 p-5 text-white rounded text-center main-display">
    <div class="text-align-center">
        <h1>Dinner Dilemma</h1>
    </div>
    <div class="text-start">
        <p>Say goodbye to the dilemma of deciding what to cook or order for dinner.
            At Dinner Dilemma, your vote matters, and together,
            we'll create a dining experience that satisfies everyone's cravings. 
            Let your voice be heard and make dinnertime exciting again. 
            Join us at Dinner Dilemma and embark on a gastronomic journey where your
            opinions shape the culinary destiny of your household!</p>
    </div>
    </div>
</div>


{% endblock %}