{% from "macros/fields.html" import render_text_field %}
{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body_block %}
    <div class="d-flex justify-content-center form-display">
        <form name="login" method="post" novalidate class="form">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {%- for category, message in messages %}
                    <span class="form__flash form__flash--{{category}}"> {{ message }}</span>
                {% endfor %}
            {% endwith %}

            <div class="form__conatiner">
                {{ form.hidden_tag() }}
                
                    {{ render_text_field(form.email) }}
                
                    {{ render_text_field(form.password) }}
                <div class="row mb-3">
                    <span class="form__small">
                        Don't have an account? <a href="{{ url_for('register') }}" class="form__link">Register here</a>.
                    </span>
                </div>
        
                <div>
                    {{ form.submit(class_="btn btn-secondary") }}
                </div>
            </div>
        </form>
    </div>

{% endblock %}