{% from "macros/fields.html" import render_text_field %}
{% extends 'layout.html' %}


{% block body_block %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <div class="d-flex justify-content-center form-display">
      <form name="register" method="post" novalidate class="form">
        <div class="form__container">
          {{ form.hidden_tag() }}

          {{ render_text_field(form.email) }}
          {{ render_text_field(form.password) }}
          {{ render_text_field(form.confirm_password) }}

          <span class="form__small">
              Already have an account? <a href="{{ url_for('login') }}" class="form__link">Log in here</a>.
          </span>

          <div>
              {{ form.submit(class_="button button--form") }}
          </div>
        </div>
      </form>
  </div>
{% endblock %}